<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120079819487-ktbjglnnvsk0imjp8h2lmm840sc9hdnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120079819487-ktbjglnnvsk0imjp8h2lmm840sc9hdnn</string>
	<key>API_KEY</key>
	<string>AIzaSyA_5yASGEb5kyjfeX1RTDiV8crrYcsyvoU</string>
	<key>GCM_SENDER_ID</key>
	<string>120079819487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yellowChair.buyInPayOut</string>
	<key>PROJECT_ID</key>
	<string>yellow-chair</string>
	<key>STORAGE_BUCKET</key>
	<string>yellow-chair.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120079819487:ios:c10b3e9d50726e2d87ff6a</string>
</dict>
</plist>